
@{
    ViewBag.Title = "Myself";
}

    <center><font color=Maroon size=20 face=行楷>个人简介</font></center>
    <font size="15">
        <ul>
            <li>姓名：高峰</li>
            <li>头像：<img src="~/Views/Myself/捕获.jpg" /></li>
            <li>年龄：21</li>
            <li>性别：男</li>
            <li>籍贯：江苏泰州</li>
            <li>学号：1513033029</li>
            <li>校区：钟秀校区</li>
            <li>学部：信息科学部</li>
            <li>专业：软件工程</li>
            <li>联系方式：17805052961</li>
        </ul>
        <a href="https://user.qzone.qq.com/1587792429/main">个人主页</a><br />
        <a href="~/math.html">计算页面</a>

    </font>
